@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url("bg.jpg");
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header h2 {
  margin-right: auto;
}

header .logo {
  position: relative;
  color: #1a759f;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

header .navigation a:not(:last-child) {
  color: #1a759f;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background 0.3s;
}

header .navigation a:hover {
  background: #fff;
}
#getStarted {
  position: relative;
  margin-left: 30px;
  text-align: center;
}

.cta {
  color: #fff;
  background: #1a759f;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 20px;
  transition: color, background 0.5s;
}

.cta:hover {
  color: #1a759f;
  background: #fff;
}

.content {
  max-width: 650px;
  margin: 50px 100px;
}

.content h2 {
  color: #1a759f;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content p {
  color: #1a729f;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 50px;
}

label, #check {
  display: none;
}

@media (max-width: 960px) {
  header .navigation {
    display: none;
  }

  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    transition: color 0.5s;
  }

  label:hover {
    color: #1a759f;
  }

  label .close-button {
    display: none;
  }

  #check:checked ~ header .navigation {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(76, 201, 240, 0.8);
  }

  #check:checked ~ header .navigation a {
    font-weight: 700;
    margin: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .menu-button {
    display: none;
  }

  #check:checked ~ header label .close-button {
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-button {
    position: absolute;
  }

  header .logo {
    position: absolute;
    bottom: -6px;
  }

  .content .info h2 {
    font-size: 45px;
    line-height: 50px;
  }

  .content .info h2 span {
    font-size: 40px;
    font-weight: 600;
  }

  .content .info p {
    font-size: 15px;
  }
}

@media (max-width: 560px) {
  .content {
    margin: 70px 100px;
  }

  .content .info h2 {
    font-size: 35px;
    line-height: 40px;
  }

  .content .info h2 span {
    font-size: 30px;
    font-weight: 600;
  }

  header label .menu-button,
  header label .close-button {
    margin-left: 50px;
  }
}
